.footer {
  background-color: #222;
  width: 100%;
}
.site-footer {
  width: 1024px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  h3 {
    text-transform: uppercase;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11rem;
    .social {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 5px;
    }
  }
  .logo {
    margin: 5rem auto;
    img {
      width: 250px;
      height: 52px;
    }
  }
  // .business-hours {
  // }
}
.site-info {
  text-align: center;
  background-color: #333;
  color: white;
  padding-top: 1px;
  height: 3rem;
}
